.header{
	padding: 20px;

	color: #155cfd
}

.tab_button{
	padding: 8px;



	font-weight: bold;
}

.subject_tr:hover{
	background-color:#156bd25e;
}

.subject-form-options{
	display:flex;
	justify-content:space-between;
	
}
