{% extends "layout.html" %}
{% block b %}
	<script type="text/javascript" src="/static/js/index.js"></script>
  <div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h3>Οδηγίες</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p>Επιλέξτε ποια μαθήματα (παδα) έχετε περάσει και πατήστε επόμενο. Η κατεβάστε το αρχείο, ανοίξτε το και στην στήλη passed γράφετε τον αριθμό 1 αν έχετε περάσει το μάθημα. Το ανεβάζεται και πατάτε επόμενο!</p>
			<p><a href="/static/maths.csv">Αρχείο!</a></p>
			<p>Μην πειράξετε τις άλλες στήλες... Δεν ξέρω τη θα γίνει! :p</p>
		</div>
	</div>
	<ul class="nav nav-tabs">
	  <li class="tab_button active"><a data-toggle="tab" href="#subjects">Μαθήματα</a></li>
	  <li class="tab_button" ><a data-toggle="tab" href="#file">Αρχείο</a></li>
	  <li class="tab_button" ><a data-toggle="tab" href="#fq">FAQ</a></li>
	</ul>

	<div class="tab-content">
	  <div id="subjects" class="tab-pane fade in active">
		<h3>Μαθήματα</h3>
		<form method="post" action="/results"  id="sub_form"></form>
		<table>
			<thead>
				<tr>
					<td>Μάθημα</td>
					<td>Περασμένο?</td>
				</tr>
			</thead>
			<tbody>
			{% for s in subjects %}
				<tr class="subject_tr">
					<td id="s-{{subjects[s]['ID']}}">{{subjects[s]["Subject"]}}</td>
					<td><input form="sub_form" id="c-{{subjects[s]['ID']}}" type="checkbox" name="{{subjects[s]['ID']}}" class="subject-checkbox" /></td>
				</tr>
				
			
			{% endfor %}
			</tbody>
		</table>
		<div class="subject-form-options">
			<a href="#" id="check-all">Check All</a>
			<a href="#" id="uncheck-all">Uncheck All</a>
			<input form="sub_form" type="submit" value="Αποτελέσματα" class="btn btn-success">
		</div>
		
		
	  </div>
	  <div id="file" class="tab-pane fade">
		<h3>Αρχείο</h3>
		<form action="/results" method="post" enctype="multipart/form-data">
			Επέλετε το τροποποιημένο Αρχείο
			<input type="file" name="mathimata" id="fileToUpload">
			<input type="submit" value="Αποτελέσματα">
		</form>

	  </div>
      <div id="fq" class="tab-pane fade">
          <ul>
              <li>Βλέπω αρνητικούς αριθμούς </li>
              <li>Έχει Περάσει Παραπάνω από όσα χρειάζεσαι σε κάποιο σημείο!</li>
              <li></li>
              <li>Κώδικας Εφαρμογής + Λίστες Αντιστοίχησεις που υπάρχουν</li>
              <li><a href="https://github.com/Callibrator/UCI" target="_blank">Click Me</a></li>
              <li></li>
              <li>PDF Για Πρόγραμμα Σπουδών</li>
              <li><a href="http://www.ice.uniwa.gr/%cf%80%ce%b5%ce%bd%cf%84%ce%b1%ce%b5%cf%84%ce%ad%cf%82-%cf%80%cf%81%cf%8c%ce%b3%cf%81%ce%b1%ce%bc%ce%bc%ce%b1-%cf%83%cf%80%ce%bf%cf%85%ce%b4%cf%8e%ce%bd-%ce%ba%ce%b1%ce%b9-%cf%80%ce%b5%cf%81%ce%b9/" target="_blank">Click Me</a></li>
              <li></li>
              <li>Πρακτήκη?</li>
              <li>Μετράει για 1 μάθημα επιλογής (τελευτέα λίστα στην καρτέλα ρόης), δεν μπένω στον κόπο να το βάλω να υπολογίζει και αυτό...</li>


          </ul>
      </div>

	  
	</div>
  </div>
{% endblock %}
