<html>
  <head>
    <title>UCI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script type="text/javascript" src="/static/jquery/jquery-3.3.1.slim.min.js"></script>
	<script type="text/javascript" src="/static/popper/popper.min.js"></script>

	<link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
	<script type="text/javascript" src="/static/bootstrap/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="/static/css/mycss.css">

  </head>
  <body>
	  <div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="/"><h1 class="header">UNIWA Correlation Instrument</h1></a>
			</div>
		</div>
	  </div>
    {% block b %}
    {% endblock %}
  </body>
</html>
